@import "../../variables";

[data-theme="dark-main"] {
    --bg-color: rgb(38, 38, 38);
    --text-color: white;
}

[data-theme="light-main"] {
    --bg-color: #fff;
    --text-color: rgba(0, 0, 0, 0.87);
}

.main {
    position: absolute;
    top: 70px;
    left: 260px;
    min-height: 100vh;
    width: calc(100vw - 260px);
    transition: all 0.2s ease;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;

    &--collapsed {
        left: 62px;
        width: calc(100vw - 62px);
    }

    @media screen and (max-width: 800px) {
        left: 62px;
        width: calc(100vw - 62px);
    }

    &__header {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding-top: 5px;
        padding-bottom: 18px;
        background-color: rgba(0, 0, 0, 0.02);

        &__left {
            width: 70%;
            display: flex;
            flex-flow: column wrap;

            &__top,
            &__bottom {
                position: relative;
                width: 100%;
            }

            &__top {
                margin-bottom: 5px;

                & > h1 {
                    position: relative;
                    font-size: 0.95rem;
                    width: 100%;
                    display: flex;
                    padding-left: 5%;
                    align-items: flex-end;
                    font-weight: 200;
                    padding-top: 15px;
                    font-family: $font-title !important;
                    color: var(--text-color);
                }
            }

            &__bottom {
                & > h1 {
                    position: relative;
                    font-size: 1.2rem;
                    margin-top: -10px !important;
                    width: 100%;
                    padding-left: 5%;
                    display: flex;
                    font-weight: bold;
                    align-items: flex-start;
                    font-family: $font-title !important;
                    color: var(--text-color);
                }
            }
        }
    }
}
