@import "../../../../variables";

.res-container {
  font-family: $font-body;
  background-color: white;
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
}

.res-container__left {
  position: relative;
  margin-right: 0%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  transition: all 0.25s ease;
  box-sizing: border-box;
  padding-left: 20px;
  width: 30%;
}

.res-container__right {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.res-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 25px);
}
.res-container__header__left {
  padding: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-family: $font-body;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25px;
}

.create-btn {
  background-color: #3f51b5;
  width: 150px;
  font-family: $font-body;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  padding-top: 11px;
  padding-bottom: 11px;
  min-width: 11%;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  filter: brightness(90%);
  transition: all 0.2s ease;
  margin-top: 10px;
}

.create-btn:hover {
  filter: brightness(100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.ant-input[disabled] {
  color: black;
  background-color: white;
  cursor: not-allowed;
  opacity: none !important;
}
