@import "../../../../variables";

.attribute-sets-container {
    background-color: white;
    width: 100%;

    &__header {
        width: 96%;
        margin-left: 2%;
        height: 80px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;

        & > button {
            background-color: #3f51b5;
            font-family: $font-body !important;
            color: white;
            outline: none;
            border: none;
            font-size: 0.8rem;
            padding-top: 11px;
            padding-bottom: 11px;
            min-width: 14%;
            text-transform: capitalize;
            cursor: pointer;
            border-radius: 5px;
            filter: brightness(90%);
            transition: all 0.2s ease;
            margin-top: 10px;

            &:hover {
                filter: brightness(100%);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__table {
        width: 96%;
        margin-left: 2%;
        height: 60vh;
    }
}
