.loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-top: 0;
    background-color: white;

    &__bar {
        background-color: rgba(63, 81, 181, 1);
        height: 3px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
}
